p{
    background-color: aquamarine;
}
a{
    background-color: antiquewhite;
}
div{
    background-color: blanchedalmond;
}
a{
    background-color: rgb(216, 216, 30);
}
span{
    background-color: rgb(237, 142, 18);
}
a{
background-color: aqua;
}
.google{
    background-color: rgb(196, 182, 165);
}